@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
/* line 12, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 15, ../sass/main.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', 'Courier New', monospace;
  color: dimgray;
  font-size: 17px;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  background-color: white;
  padding: 0 12px 0 0px;
}

/* line 33, ../sass/main.scss */
#content {
  position: relative;
  max-width: 980px;
  width: 96%;
  background-color: ghostwhite;
  padding: 10px 0;
  border-left: 12px solid gainsboro;
  border-radius: 0 0 10px 0;
  -moz-box-shadow: 0px 0px 20px #7a7a7a;
  -webkit-box-shadow: 0px 0px 20px #7a7a7a;
  box-shadow: 0px 0px 20px #7a7a7a;
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

/* line 50, ../sass/main.scss */
hr {
  width: 100%;
  border: 0;
  border-bottom: 36px solid gainsboro;
  border-top: 2px solid lightgrey;
  margin: 12px 0 24px 0;
}

/* line 60, ../sass/main.scss */
header {
  /*letter-spacing: 0.01em;*/
  font-size: 4.5em;
  line-height: 1.0em;
  color: white;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  text-transform: lowercase;
}

/* line 71, ../sass/main.scss */
header span {
  /*float: left;*/
}

/* line 75, ../sass/main.scss */
header span.david {
  /*color: white;*/
}

/* line 80, ../sass/main.scss */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 85, ../sass/main.scss */
nav li {
  float: left;
  margin: 12px;
  font-size: 1.9em;
  border-top: 6px solid;
  background-color: brown;
  border-color: indianred;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 3px 8px #9c9c9c;
  -webkit-box-shadow: 0px 3px 8px #9c9c9c;
  box-shadow: 0px 3px 8px #9c9c9c;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength = 5, direction = 180, color = '#9c9c9c');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 180, Color = '#9c9c9c')";
  /*Shadows look very different in IE (Only cardinal directions supported)*/
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*Element should have a background-color*/
  /*All filters must be placed together*/
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
  /* &:nth-child(2) {
      background-color: darkgoldenrod;
      border-color: goldenrod;
  }
  &:nth-child(3) {
      background-color: royalblue;
      border-color: cornflowerblue;
  } */
}
/* line 112, ../sass/main.scss */
nav li a {
  display: block;
  padding: 0.2em;
  color: white;
  text-transform: uppercase;
  display: block;
  min-width: 1.4em;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}
/* line 129, ../sass/main.scss */
nav li a:visited, nav li a:hover, nav li a:active {
  color: white;
}
/* line 132, ../sass/main.scss */
nav li a.string {
  padding: 0.31em 0.2em;
  font-weight: bold;
}
/* line 147, ../sass/main.scss */
nav li:hover, nav li:active {
  border-width: 3px;
  border-bottom: 3px solid white;
  -moz-box-shadow: inset 0px 0px 13px #555;
  -webkit-box-shadow: inset 0px 0px 13px #555;
  box-shadow: inset 0px 0px 13px #555;
  /*Inner elements should not cover inner shadows*/
  /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
  text-shadow: 0px 0px 12px #969696;
}
/* line 157, ../sass/main.scss */
nav li:active {
  background-color: deepskyblue;
}

/* line 162, ../sass/main.scss */
#trees {
  display: none;
}

/* line 167, ../sass/main.scss */
footer {
  padding: 20px 0;
}

/* line 170, ../sass/main.scss */
article iframe {
  padding: 0 0 20px 0;
}

/* line 173, ../sass/main.scss */
span.tag {
  border-top: 0.11em solid #EEE;
  margin: 6px 12px;
  float: left;
  background-color: lightgrey;
  letter-spacing: 0.04em;
  line-height: 1em;
  color: dimgray;
  display: inline;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 3px 3px #888;
  -webkit-box-shadow: 0px 3px 3px #888;
  box-shadow: 0px 3px 3px #888;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";
  /*Shadows look very different in IE (Only cardinal directions supported)*/
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*Element should have a background-color*/
  /*All filters must be placed together*/
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 204, ../sass/main.scss */
span.tag a, span.tag.date {
  display: block;
  padding: 0.4em;
  padding-top: 0.87em;
}
/* line 210, ../sass/main.scss */
span.tag a:visited {
  color: mediumseegreen !important;
}
/* line 213, ../sass/main.scss */
span.tag a:hover, span.tag a:active {
  color: darkseegreen !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) !important;
}

/* line 225, ../sass/main.scss */
h1 {
  margin: 6px 12px;
  padding: 0 6px;
  background-color: dodgerblue;
  color: white;
  display: inline;
  font-size: 2em;
  letter-spacing: 0.04em;
  line-height: 1.2em;
  text-transform: uppercase;
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";
  /*Shadows look very different in IE (Only cardinal directions supported)*/
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*Element should have a background-color*/
  /*All filters must be placed together*/
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

/* line 254, ../sass/main.scss */
.excerpt {
  color: darkgray;
  line-height: 1.2em;
  font-size: 1.6em;
}

/* line 259, ../sass/main.scss */
h2 {
  display: inline-block;
  font-size: 1.5em;
  background-color: mediumslateblue;
  color: white;
  letter-spacing: 0.04em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: 0px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";
  /*Shadows look very different in IE (Only cardinal directions supported)*/
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*Element should have a background-color*/
  /*All filters must be placed together*/
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

/* line 293, ../sass/main.scss */
h1:before, h2:before {
  content: "// ";
}

/* line 296, ../sass/main.scss */
a {
  color: mediumseagreen;
  text-decoration: none;
  text-shadow: 0px 0px 12px rgba(0, 255, 127, 0.3);
}

/* line 301, ../sass/main.scss */
a:active, a:hover {
  color: darkseagreen;
  text-shadow: 0px 0px 12px rgba(0, 255, 127, 0.1);
}

/* line 306, ../sass/main.scss */
a:visited {
  color: darkseagreen;
  text-shadow: 0px 0px 12px rgba(0, 255, 127, 0.1) !important;
}

/* line 310, ../sass/main.scss */
a[href^="http:"]:after, a[href^="https:"]:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: darkseagreen;
  content: "\f08e";
  padding: 2px;
  margin-left: 5px;
}

/* line 326, ../sass/main.scss */
p {
  padding-left: 12px;
  padding-right: 8px;
}

/* line 330, ../sass/main.scss */
p img {
  max-width: 100%;
  height: auto;
}

/* line 334, ../sass/main.scss */
strong, b {
  font-weight: bold;
}

/* line 338, ../sass/main.scss */
pre, code, kbd, samp {
  color: lightgrey;
  font-family: 'Inconsolata', monospace;
  font-size: 0.88em;
  border-radius: 3px;
  background-color: darkslategray;
  border: 1px solid #CCC;
}

/* line 349, ../sass/main.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 5px 12px;
  margin: 0 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow: inset 0px 1px 3px #000;
  -webkit-box-shadow: inset 0px 1px 3px #000;
  box-shadow: inset 0px 1px 3px #000;
  /*Inner elements should not cover inner shadows*/
  /*Chrome renders inset shadows incorrectly with border-radius*/
  /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
}

/* line 368, ../sass/main.scss */
pre code {
  border: 0px !important;
  padding: 0;
}

/* line 372, ../sass/main.scss */
code {
  padding: 0 8px 0 12px;
}

/* line 375, ../sass/main.scss */
.clear {
  clear: both;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 409, ../sass/main.scss */
.gsc-input-box {
  height: 44px !important;
}

/* line 412, ../sass/main.scss */
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  padding: 22px 27px !important;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* line 420, ../sass/main.scss */
#disqus_thread {
  margin: 0 12px;
}

/* standard */
