// @import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */


html, body { height: 100%; }

// @font-face { font-family:'Inconsolata'; src:url(fonts/Inconsolata.otf); }
body {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', 'Courier New', monospace;
    color: dimgray;
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: 0.01em;
    // font-weight: bold;

    background-color: gainsboro;
    padding: 0 0px;
    
    



}
#content {
    position: relative;
    max-width: 960px;
    margin: 100px auto 0 auto;
    // margin: 0 2%;
    background-color: ghostwhite;
    padding: 10px 0;
    // border-left: 12px solid ghostwhite;
    border-radius: 4px;
    /* -moz-box-shadow: 0px 0px 20px #7a7a7a;
    -webkit-box-shadow: 0px 0px 20px #7a7a7a;
    box-shadow: 0px 0px 20px #7a7a7a; */
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/



}
hr {
    width: 100%;
    border: 0;
    border-bottom: 36px solid gainsboro;
    border-top: 2px solid lightgrey;
    margin: 12px 0 24px 0;
}
header, footer, article {
    
}
header {
    /*letter-spacing: 0.01em;*/
    font-size: 4.5em;
    line-height: 1.0em;
    color: white;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    
    text-align: center;
    text-transform: lowercase;
}
header span {
    /*float: left;*/

}
header span.david {
    /*color: white;*/
}

nav, {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
        

        

        margin: 12px;
        font-size: 1.9em;
        
        border-top: 6px solid;
        background-color: brown;
        border-color: indianred;

        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
        -moz-box-shadow: 0px 3px 8px #9c9c9c;
        -webkit-box-shadow: 0px 3px 8px #9c9c9c;
        box-shadow: 0px 3px 8px #9c9c9c;
        filter: progid:DXImageTransform.Microsoft.Shadow(strength = 5, direction = 180, color = '#9c9c9c');
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 180, Color = '#9c9c9c')";
        /*Shadows look very different in IE (Only cardinal directions supported)*/
        /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
        /*Element should have a background-color*/
        /*All filters must be placed together*/
        /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
        a {
            
            display: block;
            padding: 0.2em;
            color: white;
            text-transform: uppercase;
            display: block;
            min-width: 1.4em;
            text-align: center;

            

            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/

            &:visited, &:hover, &:active {
                color: white;
            }
            &.string {
                padding: 0.31em 0.2em;
                font-weight: bold;
            }
        }

        /* &:nth-child(2) {
            background-color: darkgoldenrod;
            border-color: goldenrod;
        }
        &:nth-child(3) {
            background-color: royalblue;
            border-color: cornflowerblue;
        } */

        &:hover, &:active {
            border-width: 3px;
            border-bottom: 3px solid white;
            -moz-box-shadow: inset 0px 0px 13px #555;
            -webkit-box-shadow: inset 0px 0px 13px #555;
            box-shadow: inset 0px 0px 13px #555;
            /*Inner elements should not cover inner shadows*/
            /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
            text-shadow: 0px 0px 12px rgba(150, 150, 150, 1);
        }
        &:active {
            background-color: deepskyblue;
        }
    }
}
#trees {
    // position: absolute;
    display: none;
}

footer {
    padding: 20px 0;
}
article iframe {
    padding: 0 0 20px 0 ;
}
div.headline-container {
    margin: 36px 12px;
    h1 {
        margin: 24px 0px 16px 0;
        display: inline-block;
    }
}
span.tag {
    
    border-top: 0.11em solid #EEE;
    margin: 8px 3px 2px 0;
    background-color: lightgrey;
    letter-spacing: 0.04em;
    line-height: 0.5em;
    color: dimgray;
    display: inline-block;

    font-weight: bold;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 3px 3px #888;
    -webkit-box-shadow: 0px 3px 3px #888;
    box-shadow: 0px 3px 3px #888;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);

    

    a, &.date {
        display: inline-block;
        padding: 0.6em;
        padding-top: 0.77em;
    }
    a:visited {
        color: mediumseegreen!important;
    }
    a:hover, a:active {
        color: darkseegreen!important;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)!important;
    }
}
span.tag:before { 
    // font-size: 2em;
    // content: "//"; 
    // padding-right: 0.25em;


}
h1 {
    margin: 6px 12px;
    padding: 0 6px;
    
    background-color: dodgerblue;
    color: white;
    font-size: 2em;
    letter-spacing: 0.04em;
    line-height: 1.2em; 
    text-transform: uppercase;

    // float: left;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 1px 3px #000000;
    -webkit-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
.excerpt {  
    color: darkgray;
    line-height: 1.2em;
    font-size: 1.6em;
}
#markdown-toc {
    padding-right: 12px;
    margin: 1.6em 0;
}
h2 {
    display: inline-block;
    font-size: 1.5em;
    background-color: mediumslateblue;
    color: white;
    letter-spacing: 0.04em;
    line-height: 1.2em; 
    text-transform: uppercase;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0 6px;


    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 1px 3px #000000;
    -webkit-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
h3, h4, h5, h6 {

    margin-left: 12px;
    margin-right: 12px;
}
h1:before, h2:before { 
    content: "//" "\0000a0"; 
}
p > i, em {
    color: deeppink;
}
a {
    color: mediumseagreen;
    text-decoration: none;
    text-shadow: 0px 0px 12px rgba(springgreen, 0.3);
}
a:active, a:hover {
    color: darkseagreen;
    text-shadow: 0px 0px 12px rgba(springgreen, 0.1);
}

a:visited {
    color: darkseagreen;
    text-shadow: 0px 0px 12px rgba(springgreen, 0.1)!important;
}
a[href^="http:"]:after, a[href^="https:"]:after{
    // position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    // font-size: 11px;
    // background-color: white;
    // line-height: 1em;
    color: darkseagreen;
    content: "\f08e";
    padding: 2px;
    margin-left: 5px;
    // border: 2px solid darkseagreen;
    // border-radius:3px;
}
a.anchor-block {
    display: block;
    color: inherit!important;
    text-shadow: inherit!important;
    &:hover, &:active {
        background-color: lightgrey ;
    }
}
p {
    padding-left: 12px;
    padding-right: 12px;
}
p img {
    height: auto;
    margin: 24px auto;
    max-width: 100%;
    display: inherit;
    -moz-box-shadow: 0px 0px 6px #7a7a7a;
    -webkit-box-shadow: 0px 0px 6px #7a7a7a;
    box-shadow: 0px 0px 6px #7a7a7a;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
strong, b {
    font-weight: bold;
    // color: black;
}
pre , code, kbd, samp { 
  color: lightgrey; 
  font-family: 'Inconsolata', monospace; 
  font-size: 0.88em; 
  border-radius:3px;
  background-color: darkslategray;
  border: 1px solid #CCC; 



}
pre { 
    white-space: pre; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
    padding: 5px 12px;
    margin: 0 12px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: inset 0px 1px 3px #000;
    -webkit-box-shadow: inset 0px 1px 3px #000;
    box-shadow: inset 0px 1px 3px #000;
    /*Inner elements should not cover inner shadows*/
    /*Chrome renders inset shadows incorrectly with border-radius*/
    /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/

}
pre code { 
    border: 0px !important; 
    padding: 0;
}
code { 
    padding: 0 8px 0 12px; 
}
.clear {
    clear: both;
}




/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  
}
blockquote {
    margin-left: 0;
    background-color: gainsboro;
    margin: 64px 0;
    border-left: 48px solid;
    border-right: 12px solid;
    clear: both;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    &.info {
        border-color: khaki;
    }
    &.warning {
        border-color: brown;
    }
    &.advice {
        border-color: cornflowerblue;
    }
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
}

.header a {
}


.header a.extra:hover {
}
.footer {
}
.gsc-input-box {
    height: 44px!important;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    padding: 22px 27px!important;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
#disqus_thread {
    margin: 0 12px;
}
/* standard */
.post pre {
}



@media (min-width: 570px) { 
    #markdown-toc {
        width: 200px;
        float: right;
    }
}