---
layout: default
title: david.curlott.com
---

<div id="home">
  <h1>Gude <3</h1><div class="clear"></div>
  <h2>Blog</h2>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Tools</h2>
  <ul>
  {% for tool in site.data.tools %}
    <li>
      <a href="#">
        {{ tool.name }}
      </a>
      <ul>
      {% for post in site.posts %}
        {% if post.tools contains tool.name %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>