<!DOCTYPE html>
<html
xmlns:og="http://ogp.me/ns#"
xmlns:article="http://ogp.me/ns/article#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.excerpt }}" />

        <meta property="og:site_name" content="zweipunktlol.de" />
        <meta property="og:image" content="http://zweipunktlol.de{{ page.image }}" />
        <meta property="og:url" content="http://zweipunktlol.de{{ page.url }}" />
        <link rel="author" href="https://google.com/+davecurlott"/>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="/font-awesome-4.0.3/css/font-awesome.min.css">

        <!-- ie8 -->
        <!--[if lt IE 9]>
           <script>
              document.createElement('header');
              document.createElement('nav');
              document.createElement('section');
              document.createElement('article');
              document.createElement('aside');
              document.createElement('footer');
           </script>
           <style type="text/css">
               header, nav, section, article, aside, footer {
                  display:block;
               }
           </style>
        <![endif]-->
        

    </head>
    <body>
        <header>
            <a href="/">
            <img src="/images/lol.svg" alt="">
            </a>
        </header>
        <div id="content">
            <nav>
                <ul>
                    <li class="button"><a class="extra" href="/"><i class="fa fa-home"></i></a></li>
                    <!-- <li><a class="extra" href="/profile"><i class="fa fa-user"></i></a></li> -->
                    <li class="button"><a class="extra" href="mailto:kontakt@zweipunktlol.de"><i class="fa fa-envelope"></i></a></li>
                    <!-- <li><a class="extra string" href="/projects">projekte</a></li> -->
                    <li class="button"><a class="extra" href="/search"><i class="fa fa-search"></i></a></li>
                </ul>
                <div class="clear"></div>
            </nav>
            <article>
            {{ content }}
            </article>
        </div>
        <footer></footer>
        <script TYPE="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47583990-2', 'zweipunktlol.de');
          ga('send', 'pageview');
          
          // iframes
            var $iframes = $( document.querySelectorAll( 'iframe' ) );
            
            function iframeSizing() {
                var $this           = $( this ),
                    width           = $this.width(),
                    height          = $this.height(),
                    containerWidth      = $this.parent().width(),
                    heightRatio     = height / width,
                    newHeight       = heightRatio * containerWidth;
            
                $this.width( containerWidth );
                $this.height( newHeight );
            }
            
            function iframesEachSizing() {
                $iframes.each( iframeSizing );
            };
            
            iframesEachSizing();
            
            
            $( window ).resize( iframesEachSizing );

            $('.anchor-block').hover(function () {
              $(this).find('.button').addClass('button-pressed');
            }, function () {
              $(this).find('.button').removeClass('button-pressed');
            });


        </script>   
    </body>
</html>
