<!DOCTYPE html>
<html
xmlns:og="http://ogp.me/ns#"
xmlns:article="http://ogp.me/ns/article#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.og-excerpt }}" />

        <meta property="og:site_name" content="zweipunktlol.de" />
        <meta property="og:image" content="http://zweipunktlol.de{{ page.image }}" />
        <meta property="og:url" content="http://zweipunktlol.de" />
        <link rel="author" href="https://google.com/+davecurlott"/>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="/font-awesome-4.0.3/css/font-awesome.min.css">

        <!-- ie8 -->
        <!--[if lt IE 9]>
           <script>
              document.createElement('header');
              document.createElement('nav');
              document.createElement('section');
              document.createElement('article');
              document.createElement('aside');
              document.createElement('footer');
           </script>
           <style type="text/css">
               header, nav, section, article, aside, footer {
                  display:block;
               }
           </style>
        <![endif]-->
        

    </head>
    <body>
        <header>
            <a href="/">
            <img src="/images/lol.svg" alt="">
            </a>
        </header>
        <div id="content">
            <nav>
                <ul>
                    <li class="button"><a class="extra" href="/"><i class="fa fa-home"></i></a></li>
                    <!-- <li><a class="extra" href="/profile"><i class="fa fa-user"></i></a></li> -->
                    <li class="button"><a class="extra" href="mailto:curlott@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    <!-- <li><a class="extra string" href="/projects">projekte</a></li> -->
                    <li class="button"><a class="extra" href="/search"><i class="fa fa-search"></i></a></li>
                </ul>
                <div class="clear"></div>
            </nav>
            <article>
            {{ content }}
            </article>
        </div>
        <footer></footer>
      <!--   <SCRIPT TYPE="text/javascript">
          (function() {
              var canvasElement = document.getElementById('trees');
              var canvas = canvasElement.getContext("2d"); 
      
              var CANVAS_WIDTH = canvasElement.width;
              var CANVAS_HEIGHT = canvasElement.height;
      
              var FPS = 30;
              setInterval(function() {
                update();
                draw();
              }, 1000/FPS);
      
              var textX = 50;
              var textY = 50;
      
              function update() {
                textX += 1;
                textY += 1;
      
                player.goRight();
                player.shoot();
      
                playerBullets.forEach(function(bullet) {
                    bullet.update();
                  });
      
                  playerBullets = playerBullets.filter(function(bullet) {
                    return bullet.active;
                  });
      
                  enemies.forEach(function(enemy) {
                      enemy.update();
                    });
      
                    enemies = enemies.filter(function(enemy) {
                      return enemy.active;
                    });
      
                    if(Math.random() < 0.1) {
                      enemies.push(Enemy());
                    }
              }
      
              function draw() {
                canvas.clearRect(0, 0, CANVAS_WIDTH, CANVAS_HEIGHT);
                player.draw();
                playerBullets.forEach(function(bullet) {
                    bullet.draw();
                  });
                enemies.forEach(function(enemy) {
                    enemy.draw();
                  });
              }
      
              var player = {
                color: "#00A",
                x: 220,
                y: 270,
                width: 32,
                height: 32,
                draw: function() {
                  canvas.fillStyle = this.color;
                  canvas.fillRect(this.x, this.y, this.width, this.height);
                },
                goLeft: function() {
                  this.x -= 1;
                },
                goRight: function() {
                  this.x += 1;
                },
                shoot: function() {
                  var bulletPosition = this.midpoint();
      
                playerBullets.push(Bullet({
                  speed: 5,
                  x: bulletPosition.x,
                  y: bulletPosition.y
                }));
                },
                midpoint: function() {
                  return {
                    x: this.x + this.width/2,
                    y: this.y + this.height/2
                  };
                }
              };
      
              var playerBullets = [];
      
              function Bullet(I) {
                I.active = true;
      
                I.xVelocity = 0;
                I.yVelocity = -I.speed;
                I.width = 3;
                I.height = 3;
                I.color = "#000";
      
                I.inBounds = function() {
                  return I.x >= 0 && I.x <= CANVAS_WIDTH &&
                    I.y >= 0 && I.y <= CANVAS_HEIGHT;
                };
      
                I.draw = function() {
                  canvas.fillStyle = this.color;
                  canvas.fillRect(this.x, this.y, this.width, this.height);
                };
      
                I.update = function() {
                  I.x += I.xVelocity;
                  I.y += I.yVelocity;
      
                  I.active = I.active && I.inBounds();
                };
      
                return I;
              }
      
              enemies = [];
      
              function Enemy(I) {
                I = I || {};
      
                I.active = true;
                I.age = Math.floor(Math.random() * 128);
      
                I.color = "#A2B";
      
                I.x = CANVAS_WIDTH / 4 + Math.random() * CANVAS_WIDTH / 2;
                I.y = 0;
                I.xVelocity = 0
                I.yVelocity = 2;
      
                I.width = 32;
                I.height = 32;
      
                I.inBounds = function() {
                  return I.x >= 0 && I.x <= CANVAS_WIDTH &&
                    I.y >= 0 && I.y <= CANVAS_HEIGHT;
                };
      
                I.draw = function() {
                  canvas.fillStyle = this.color;
                  canvas.fillRect(this.x, this.y, this.width, this.height);
                };
      
                I.update = function() {
                  I.x += I.xVelocity;
                  I.y += I.yVelocity;
      
                  I.xVelocity = 3 * Math.sin(I.age * Math.PI / 64);
      
                  I.age++;
      
                  I.active = I.active && I.inBounds();
                };
      
                return I;
              };
      
      
      
          })();
      </SCRIPT>
           -->
        <script TYPE="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47583990-2', 'zweipunktlol.de');
          ga('send', 'pageview');
          
          // iframes
            var $iframes = $( document.querySelectorAll( 'iframe' ) );
            
            function iframeSizing() {
                var $this           = $( this ),
                    width           = $this.width(),
                    height          = $this.height(),
                    containerWidth      = $this.parent().width(),
                    heightRatio     = height / width,
                    newHeight       = heightRatio * containerWidth;
            
                $this.width( containerWidth );
                $this.height( newHeight );
            }
            
            function iframesEachSizing() {
                $iframes.each( iframeSizing );
            };
            
            iframesEachSizing();
            
            
            $( window ).resize( iframesEachSizing );

            $('.anchor-block').hover(function () {
              $(this).find('.button').addClass('button-pressed');
            }, function () {
              $(this).find('.button').removeClass('button-pressed');
            });


        </script>   
    </body>
</html>
